VITE_MIDNIGHT_NETWORK=preview
VITE_CONTRACT_ADDRESS=2059d899ef9ca1578b81c3e6acb493aaa9031b9f0062855c1b576ff944ae33cc
VITE_INDEXER_URL=https://indexer.preview.midnight.network/api/v4/graphql
VITE_NODE_URL=https://rpc.preview.midnight.network
VITE_FAUCET_URL=https://faucet.preview.midnight.network/api/drips
